:root {
  --error: #b84139;
  --soft-green: #59807f;
  --dark-black: #222;
  --dark-green: #30504f;
  --overlay: rgba(0, 0, 0, 0.7);
  --yellow: #ffe32b;
  --light-green: #39b8b0;
  --white: #fff;
  --dark-gray: #8b8b8b;
  --status-field: #eff8f7;
  --status-field-error: #f9f1f0;
  --support-background: #fbfbfb;
  --status-field-b: #eff8f7;
  --gray-b: #d1d1d1;
  --header-height: 70px;
  --font-size-button: 15px;
  --font-size-minimum: 12px;
  --font-size-menu: 15px;
  --box-shadow-light: 2px 5px 10px rgba(0, 0, 0, 0.11764705882352941);
  --page-max-container: 1366px;
  --border-radius: 5px;
}

.page-header {
  position: relative;
  width: 100%;
}

header.f-header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4.3vw;
  height: 75px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #222;
  z-index: 20;
  font-size: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.8196078431);
}
header.f-header .header-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: var(--box-shadow-light);
  z-index: -1;
  opacity: 0;
}
header.f-header .f-left-panel {
  display: flex;
  align-items: center;
}
header.f-header .f-left-panel .f-left-logo-area {
  display: flex;
  align-items: center;
}
header.f-header .f-left-panel .f-left-logo-area img.f-logo {
  width: 100%;
  height: 30px;
}
header.f-header .f-left-panel .f-left-logo-area span {
  font-family: Sarabun;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: left;
  color: #30504f;
}
header.f-header .f-left-panel .f-nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: var(--dark-black);
}
header.f-header .f-left-panel .f-nav ul li {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 1rem;
  width: auto;
  margin-left: 0;
  align-self: center;
  margin-left: 1.8vw;
}
header.f-header .f-left-panel .f-nav ul li.f-mobile-nav {
  display: none;
}
header.f-header .f-left-panel .f-nav ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
header.f-header .f-left-panel .f-nav ul li.active {
  color: var(--dark-green);
}
header.f-header .f-left-panel .f-nav ul li.active a:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #30504f;
  position: absolute;
  bottom: -13px;
  left: 0;
}
header.f-header .f-left-panel .f-nav ul li ul {
  display: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  list-style: none;
  width: 156px;
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  background-color: #fff;
}
header.f-header .f-left-panel .f-nav ul li:hover ul {
  display: block;
}
header.f-header .f-left-panel .f-nav ul li:hover ul li {
  padding: 10px;
  color: #222;
  text-align: left;
}
header.f-header .f-left-panel .f-nav ul li:hover ul li a {
  color: inherit;
  text-decoration: none;
}
header.f-header .f-left-panel .f-nav ul li:hover ul li:hover {
  color: #30504f;
  background-color: #eff8f7;
}
header.f-header .f-desktop-right-panel {
  display: flex;
  align-items: center;
}
header.f-header .f-desktop-right-panel .f-header-tracking-list {
  display: flex;
  align-items: unset;
  cursor: pointer;
  min-width: 85px;
}
header.f-header .f-desktop-right-panel .f-header-tracking-list svg {
  height: 15px;
  width: 15px;
  margin-right: 8px;
  color: var(--light-green);
  margin-bottom: -1px;
}
header.f-header .f-desktop-right-panel button.f-btn {
  height: 46px;
  margin-left: 3rem;
  border: 0;
  width: 135px;
  outline: none;
  border-radius: 2px;
  font-size: var(--font-size-body-3);
  cursor: pointer;
  background-color: var(--dark-black);
  border: 1px solid var(--dark-black);
  color: #fff;
}
header.f-header .f-moblie-right-panel,
header.f-header .f-mobile-sidebar,
header.f-header .f-sidebar-backdrop {
  display: none;
}

.btn-gotop {
  bottom: 5rem;
  right: 38.5px;
  z-index: 4;
  margin: 15.5px 0 0;
  display: block;
  transform: translateY(0) rotate(90deg);
  font-size: var(--font-size-heading-3);
  letter-spacing: 1px;
  color: var(--dark-green);
  position: fixed;
  transition: 0.3s;
  font-size: 25px;
}
.btn-gotop::before {
  content: "";
  height: 1px;
  width: 40px;
  position: absolute;
  top: 18px;
  left: -50px;
  background-color: var(--dark-green);
}

.page .page-body .list-box {
  color: var(--dark-gray);
}
.page .page-body .list-box .list-num {
  list-style: decimal;
}
.page .page-body .list-box .list-num li {
  line-height: normal;
  font-size: 15px;
  line-height: 26px;
}
.page .page-body .list-box .list-num li::before {
  display: none;
}
.page .page-body .section-tit {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-green);
  margin-bottom: 10px;
  width: 100%;
}
.page .page-body .section-tit.ct {
  text-align: center;
}
.page .page-body .section-tit br {
  display: none;
}
.page .page-body .txt {
  line-height: normal;
  font-size: 15px;
  color: var(--dark-gray);
  line-height: 26px;
}
.page .page-body .txt.ct {
  text-align: center;
}
.page .page-body .section-con {
  max-width: 1200px;
  margin: auto;
}
.page .page-body .btn-box {
  padding: 70px 0;
  width: 100%;
  text-align: center;
}
.page .page-body .btn-box .btn {
  color: #fff;
  background-color: var(--light-green);
  border: 2px solid var(--light-green);
  border-radius: 100px;
  font-size: 90%;
  line-height: 40px;
  padding: 2px 10px;
  min-width: 200px;
  margin-right: 40px;
}
.page .page-body .btn-box .btn.btn-style-2 {
  background-color: var(--dark-green);
  border: 2px solid var(--dark-green);
}
.page .page-body .btn-box .btn.btn-style-2:hover {
  color: var(--dark-green);
}
.page .page-body .btn-box .btn:hover {
  background-color: #fff;
  color: var(--light-green);
}
.page .page-body .section-box {
  min-height: 80vh;
  padding: 20px 0;
}
.page .page-body .section-box.section-01 {
  background: url(../../inc/img/layout/section/section-01-bg.svg) no-repeat 50px center;
  background-size: 150%;
  padding-top: 15vh;
}
.page .page-body .section-box.section-01 .section-tit br {
  display: inline-block !important;
}
.page .page-body .section-box.section-01 .section-con {
  padding-left: 5vw;
}
.page .page-body .section-box.section-01 .img-logo {
  display: inline-block;
  width: 200px;
  height: 100px;
  background: url(../../inc/img/layout/logo.svg) no-repeat center left;
  background-size: 100%;
}
.page .page-body .section-box.section-02 {
  background: var(--status-field-b);
  padding: 15vh 0 15vh 0;
}
.page .page-body .section-box.section-02 .section-tit.ct {
  padding: 0 0 50px 0;
}
.page .page-body .section-box.section-02 .section-con {
  display: flex;
  justify-content: center;
  gap: 0 5vw;
  padding: 20px 0 0 0;
}
.page .page-body .section-box.section-02 .section-con li {
  width: 20%;
  padding-top: 180px;
  text-align: center;
}
.page .page-body .section-box.section-02 .section-con li .tit {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--dark-green);
  font-weight: bold;
}
.page .page-body .section-box.section-02 .section-con li.part-1 {
  background: url(../../inc/img/layout/section/section-02-01.png) no-repeat center top;
  background-size: 130px;
}
.page .page-body .section-box.section-02 .section-con li.part-2 {
  background: url(../../inc/img/layout/section/section-02-02.png) no-repeat center top;
  background-size: 130px;
}
.page .page-body .section-box.section-02 .section-con li.part-3 {
  background: url(../../inc/img/layout/section/section-02-03.png) no-repeat center top;
  background-size: 130px;
}
.page .page-body .section-box.section-03 {
  padding: 10vh 0 10vh 0;
  min-height: auto;
}
.page .page-body .section-box.section-03 .section-con {
  padding-top: 20px;
}
.page .page-body .section-box.section-03 .section-con .section-img {
  margin: 0 auto 20px auto;
  width: 100%;
  max-width: 1000px;
  height: 500px;
  background: url(../../inc/img/layout/section/section-03.png) no-repeat center center;
  background-size: 100%;
}
.page .page-body .section-box.section-03 .section-con .txt {
  margin: 0 auto;
  max-width: 1024px;
}
.page .page-body .section-box.section-04 {
  background: var(--status-field-b);
  padding: 15vh 0 10vh 0;
}
.page .page-body .section-box.section-04 .section-tit.ct {
  padding: 0 0 50px 0;
}
.page .page-body .section-box.section-04 .section-con {
  position: relative;
  height: 100%;
}
.page .page-body .section-box.section-04 .section-con::before {
  position: absolute;
  right: 10%;
  top: 20%;
  content: "";
  display: inline-block;
  width: 500px;
  height: 800px;
  background: url(../../inc/img/logo/logo-only.png) no-repeat center top;
  background-size: 100%;
  opacity: 0.2;
  z-index: 0;
}
.page .page-body .section-box.section-04 .section-con ul {
  position: relative;
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
.page .page-body .section-box.section-04 .section-con ul li {
  padding-left: 130px;
  margin-bottom: 30px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.page .page-body .section-box.section-04 .section-con ul li .tit {
  padding-top: 25px;
  font-size: 20px;
  color: var(--dark-green);
  font-weight: bold;
}
.page .page-body .section-box.section-04 .section-con ul li .tit a {
  text-decoration: underline;
  color: var(--dark-green);
}
.page .page-body .section-box.section-04 .section-con ul li.part-1 {
  background: url(../../inc/img/layout/section/section-04-01.png) no-repeat center left;
  background-size: 120px;
}
.page .page-body .section-box.section-04 .section-con ul li.part-2 {
  background: url(../../inc/img/layout/section/section-04-02.png) no-repeat center left;
  background-size: 120px;
}
.page .page-body .section-box.section-04 .section-con ul li.part-3 {
  background: url(../../inc/img/layout/section/section-04-03.png) no-repeat center left;
  background-size: 120px;
}
.page .page-body .section-box.section-04 .section-con ul li.part-4 {
  background: url(../../inc/img/layout/section/section-04-04.png) no-repeat center left;
  background-size: 120px;
}
.page .page-body .section-box.section-04 .section-con ul li.part-5 {
  background: url(../../inc/img/layout/section/section-04-05.png) no-repeat center left;
  background-size: 120px;
}
.page .page-body .section-box.section-05 {
  padding: 6vh 0 3vh 0;
  min-height: auto;
}
.page .page-body .section-box.section-05 .section-con {
  padding-top: 30px;
}
.page .page-body .section-box.section-05 .section-con .btn-box {
  margin-bottom: 0;
}
.page .page-body .section-box.section-05 .section-con ul.section-ul {
  display: flex;
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li {
  width: 20%;
  position: relative;
  z-index: 10;
  text-align: center;
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 230px;
  height: 80px;
  background: var(--light-green);
  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li .tit {
  margin: 0 auto 30px auto;
  width: 60%;
  height: 80px;
  line-height: 70px;
  color: #fff;
  font-weight: bold;
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li .tit small {
  top: 50px;
  line-height: normal;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  font-size: 80%;
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li .txt span {
  display: block;
  line-height: 40px;
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li .txt .txt-info {
  display: block;
  color: var(--light-green);
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li.part-1::before {
  background-color: #b2e7e3;
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li.part-1 .tit {
  background: url(../../inc/img/logo/Default.svg) no-repeat center center;
  background-size: 100%;
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li.part-4::before {
  background-color: var(--soft-green);
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li.part-5 .txt {
  color: var(--light-green);
}
.page .page-body .section-box.section-05 .section-con ul.section-ul li.part-5 .txt span {
  line-height: 26px;
}
.page .page-body .section-box.section-05 .section-con .txt {
  margin: 0 auto;
  max-width: 1024px;
}
.page .page-body .section-box.section-06 {
  padding: 4vh 0 0vh 0;
  background: var(--status-field-b);
}
.page .page-body .section-box.section-06 .section-con {
  padding: 0;
  text-align: center;
}
.page .page-body .section-box.section-06 .section-con li {
  position: relative;
  background: url(../../inc/img/layout/section/section-06.png) no-repeat center center;
  background-size: 100%;
  min-height: 160px;
  width: 900px;
  margin: 0 auto;
}
.page .page-body .section-box.section-06 .section-con li .txt-step {
  position: absolute;
  left: 45px;
  top: 40px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
.page .page-body .section-box.section-06 .section-con li .tit {
  padding: 35px 0 10px 180px;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.page .page-body .section-box.section-06 .section-con li .tit i {
  margin-right: 5px;
}
.page .page-body .section-box.section-06 .section-con li .txt {
  padding: 0 0 10px 180px;
  text-align: left;
}
.page .page-body .section-box.section-07 {
  padding: 10vh 0 3vh 0;
  min-height: auto;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.page .page-body .section-box.section-07::before {
  position: absolute;
  left: -10%;
  top: -30%;
  content: "";
  display: inline-block;
  width: 700px;
  height: 800px;
  background: url(../../inc/img/layout/bg-01.svg) no-repeat center top;
  background-size: 100%;
  z-index: -1;
}
.page .page-body .section-box.section-07 .section-tit {
  margin-bottom: 50px;
}
.page .page-body .section-box.section-07 .section-con .txt {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto 20px auto;
}
.page .page-body .section-box.section-07 .section-con .section-img {
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 1000px;
  height: 300px;
  background: url(../../inc/img/layout/section/section-07.png) no-repeat center center;
  background-size: 80%;
}
.page .page-body .section-box.section-07 .section-con .btn-box {
  padding: 40px 0;
}
.page .page-footer {
  text-align: center;
  padding: 25px 0 25px 0;
  color: #686868;
}
.page .page-footer .txt {
  margin-bottom: 20px;
}
.page .page-footer a {
  text-decoration: underline;
  color: var(--light-green);
}
.page .page-footer img {
  width: 120px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 89px;
  padding-left: 60px;
  border-radius: 0 1rem 0 0;
  font-size: 16px;
  width: 80%;
  position: relative;
  color: var(--dark-black);
}
.footer ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.footer ul li {
  font-weight: 500;
  letter-spacing: 0.67px;
  text-align: center;
  list-style: none;
  position: relative;
  width: 100px;
}
.footer ul li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: inherit;
  white-space: nowrap;
}
.footer .f-copyright.f-big {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--dark-gray);
  margin-right: 30px;
  display: inline-block;
}
.footer .f-copyright.f-small {
  display: none;
}
.footer .f-right-triangle {
  position: absolute;
  height: 89px;
  width: 150px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  top: 0;
  right: -142px;
  background-color: #fff;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .page .btn-gotop {
    right: 0;
  }
  .page .page-body .section-box {
    padding: 20px 0;
  }
  .page .page-body .section-box .btn-box {
    padding: 20px 0;
  }
  .page .page-body .section-box .btn-box .btn {
    margin: 0;
    margin-bottom: 20px;
  }
  .page .page-body .section-box .section-tit {
    font-size: 28px;
  }
  .page .page-body .section-box .section-tit br {
    display: inline-block;
  }
  .page .page-body .section-box.section-01 {
    background-position: -280px -250px;
    background-size: cover;
  }
  .page .page-body .section-box.section-01 .section-con {
    padding: 0 2%;
  }
  .page .page-body .section-box.section-01 .section-con .section-tit {
    line-height: normal;
  }
  .page .page-body .section-box.section-01 .section-con .txt br {
    display: none;
  }
  .page .page-body .section-box.section-02 {
    padding: 30px 0;
  }
  .page .page-body .section-box.section-02 .section-tit.ct {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
  .page .page-body .section-box.section-02 .section-con {
    padding: 0 4%;
    flex-direction: column;
  }
  .page .page-body .section-box.section-02 .section-con li {
    width: 100%;
    padding-top: 140px;
    margin-bottom: 30px;
    background-size: 120px !important;
  }
  .page .page-body .section-box.section-02 .section-con li .tit {
    margin-bottom: 5px;
  }
  .page .page-body .section-box.section-03 {
    padding: 30px 0 !important;
    padding: 20px 0;
  }
  .page .page-body .section-box.section-03 .section-con {
    padding: 0 !important;
  }
  .page .page-body .section-box.section-03 .section-con .section-img {
    height: 250px;
  }
  .page .page-body .section-box.section-03 .section-con .txt.ct {
    padding: 0 5%;
    text-align: left;
  }
  .page .page-body .section-box.section-04 {
    padding: 30px 0 !important;
  }
  .page .page-body .section-box.section-04 .section-tit.ct {
    padding: 0 0 20px 0;
  }
  .page .page-body .section-box.section-04 .section-con {
    padding: 0 2%;
  }
  .page .page-body .section-box.section-04 .section-con::before {
    height: 400px;
    top: auto;
    bottom: 10%;
    opacity: 0.1;
  }
  .page .page-body .section-box.section-04 .section-con ul {
    grid-template-columns: 100%;
    padding: 0;
  }
  .page .page-body .section-box.section-04 .section-con ul li {
    padding-left: 105px;
    background-size: 100px !important;
    margin-bottom: 10px;
  }
  .page .page-body .section-box.section-04 .section-con ul li .tit {
    font-size: 18px;
  }
  .page .page-body .section-box.section-05 {
    padding: 30px 0 !important;
  }
  .page .page-body .section-box.section-05 .section-con {
    padding: 0 4%;
  }
  .page .page-body .section-box.section-05 .section-con .section-ul {
    padding: 0;
    flex-direction: column;
  }
  .page .page-body .section-box.section-05 .section-con .section-ul li {
    width: 100% !important;
  }
  .page .page-body .section-box.section-05 .section-con .section-ul li::before {
    height: 60px !important;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%) !important;
  }
  .page .page-body .section-box.section-05 .section-con .section-ul li::after {
    display: block;
    font-family: "icomoon" !important;
    content: "\e932";
    color: var(--light-green);
    margin-bottom: 10px;
  }
  .page .page-body .section-box.section-05 .section-con .section-ul li .tit {
    height: 60px !important;
    margin-bottom: 10px !important;
    line-height: 50px !important;
  }
  .page .page-body .section-box.section-05 .section-con .section-ul li .tit small {
    top: 35px !important;
  }
  .page .page-body .section-box.section-05 .section-con .section-ul li .txt span {
    line-height: 30px !important;
  }
  .page .page-body .section-box.section-05 .section-con .section-ul li.part-1 .tit {
    background-size: 70% !important;
  }
  .page .page-body .section-box.section-05 .section-con .section-ul li.part-5 .tit {
    line-height: 80px;
    line-height: 60px !important;
  }
  .page .page-body .section-box.section-06 {
    padding: 30px 0 !important;
  }
  .page .page-body .section-box.section-06 .section-con {
    padding: 4%;
  }
  .page .page-body .section-box.section-06 .section-con li {
    width: 100%;
    min-height: auto !important;
    border-radius: 10px;
    background-image: none;
    background: #fff;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.5058823529);
    margin-bottom: 20px;
  }
  .page .page-body .section-box.section-06 .section-con li .txt-step {
    left: -6px;
    top: -6px;
    padding: 0 30px;
    background: var(--light-green);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  }
  .page .page-body .section-box.section-06 .section-con li .tit {
    text-align: center;
    padding: 30px 4% 1% 4% !important;
  }
  .page .page-body .section-box.section-06 .section-con li .txt {
    padding: 2% 4% 4% 4% !important;
  }
  .page .page-body .section-box.section-07 {
    padding: 30px 0 !important;
    padding: 20px 0;
  }
  .page .page-body .section-box.section-07 .section-tit.ct {
    margin-bottom: 20px;
  }
  .page .page-body .section-box.section-07 .section-con {
    padding: 0 4% !important;
  }
  .page .page-body .section-box.section-07 .section-con .section-img {
    height: 180px !important;
    background-size: 100%;
  }
  .page .page-body .section-box.section-07 .section-con .txt {
    text-align: left !important;
  }
  .page .page-body .section-box.section-07 .section-con .btn-box {
    padding: 10px 0 !important;
  }
}
* {
  font-family: Roboto, Noto Sans TC, arial, sans-serif;
  box-sizing: border-box;
}

.page {
  padding: 0;
  margin: 0;
  background-color: #fbfbfb;
}
.page a:hover {
  text-decoration: none;
  color: inherit;
}
.page ul {
  list-style: none;
}