::-webkit-input-placeholder {
  color: #8B8B8B;
}::-moz-placeholder {
  color: #8B8B8B;
}:-ms-input-placeholder {
  color: #8B8B8B;
}::-ms-input-placeholder {
  color: #8B8B8B;
}::placeholder {
  color: #8B8B8B;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.div-tb {
  display: table;
  width: 100%;
}
.div-tb .td {
  display: table-cell;
  padding: 5px;
}
.div-tb .td:first-child {
  padding-left: 0;
}
.div-tb .td:last-child {
  padding-right: 0;
}
.div-tb.padd-0 .td {
  padding: 5px 0;
}

.w-30per {
  width: 30% !important;
}

.w-20per {
  width: 20% !important;
}

.w-50per {
  width: 50% !important;
}

.w-100per {
  width: 100% !important;
}

img {
  width: 100%;
}

.lt {
  text-align: left !important;
}

.ct {
  text-align: center !important;
}

.rt {
  text-align: right !important;
}

.vbtm {
  vertical-align: bottom !important;
}

.txt {
  color: #8B8B8B;
  line-height: normal;
  display: block;
}
.txt.btm-info {
  padding-top: 50px;
  color: #1F1F1F;
  text-align: center;
  margin-bottom: 20px;
}

.txt-status {
  color: #1671FE;
}

.txt-phone {
  display: block;
}

.product-num {
  color: #8b8b8b;
}

.txt-link.underline {
  text-decoration: underline;
}

.info-box .info-tit {
  font-weight: bold;
}

.toast {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #1F1F1F;
  width: 200px;
  height: 100px;
  z-index: 500;
  border-radius: 10px;
}
.toast .toast-header {
  text-align: center;
  background: none;
  border: none;
  padding-top: 5px;
}
.toast .toast-header i {
  width: 40px;
  height: 40px;
  margin: 10px auto 0px auto;
  line-height: 40px;
  border-radius: 500px;
  text-indent: -9999px;
}
.toast .toast-header i.icon-check {
  background: url(../img/icon/check.svg) no-repeat center center;
  background-size: 40px;
}
.toast .toast-header i.icon-alert {
  background: url(../img/icon/alert.svg) no-repeat center center;
  background-size: 40px;
}
.toast .toast-body {
  padding: 5px 0 0 0;
  text-align: center;
  color: #fff;
}

.demolink {
  display: block;
  text-align: center;
}

.page {
  background: #E6E6E6;
  font-size: 16px;
}
.page .page-content {
  position: relative;
  background: #fff;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}
.page .page-content.pt-50px {
  padding-top: 50px;
}
.page .page-content.pt-50px .page-header {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.page .page-content.list-page, .page .page-content.confirm-page {
  background: #E6E6E6;
  padding: 70px 4% 0 4%;
}
.page .page-content.list-page.pt-110px, .page .page-content.confirm-page.pt-110px {
  padding-top: 110px;
}
.page .page-content.confirm-page {
  background: #fff;
}
.page .page-content .page-header {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(51, 51, 51, 0.3098039216);
          box-shadow: 0 3px 10px rgba(51, 51, 51, 0.3098039216);
  text-align: center;
}
.page .page-content .page-header .logo {
  max-width: 190px;
  margin: 10px;
}
.page .page-content .page-header .page-header-tit {
  position: relative;
  display: inline-block;
  color: #004ea0;
  padding: 5px 0 0 20px;
  line-height: 36px;
  font-size: 110%;
}
.page .page-content .page-header .page-header-tit::before {
  position: absolute;
  content: "";
  left: 3px;
  top: 5px;
  height: 90%;
  width: 1px;
  background: #004ea0;
}
.page .page-content .nav {
  z-index: 300;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(51, 51, 51, 0.3098039216);
          box-shadow: 0 3px 10px rgba(51, 51, 51, 0.3098039216);
  text-align: center;
  background: #fff;
}
.page .page-content .nav a {
  position: relative;
  padding: 0 10px;
  line-height: 45px;
  color: #000;
}
.page .page-content .nav a.active {
  color: #1671FE;
}
.page .page-content .nav a.active::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  content: "";
  width: 80%;
  height: 2px;
  background: #1671FE;
}

.verification-box {
  padding: 20px 10px;
}
.verification-box .txt {
  display: block;
  width: 100%;
  color: #1F1F1F;
  margin: 10px 0;
  text-align: center;
}
.verification-box .input-box {
  background: #F0F0F0;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
}
.verification-box .input-box input {
  text-align: center;
  background: none;
  border: none;
  font-size: 30px;
  width: 100%;
}

.modal-header {
  position: relative;
  border: none;
}
.modal-header .close {
  position: absolute;
  right: 0;
  top: 0;
}
.modal-header .close span {
  font-size: 120%;
  font-weight: normal;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}
.modal-header .modal-title {
  width: 100%;
}
.modal-header .modal-title.ct {
  text-align: center;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}
.modal-body p {
  line-height: normal;
  margin-bottom: 20px;
  font-size: 90%;
}
.modal-body .tit {
  font-weight: bold;
  display: block;
}

.ticket {
  background: url(../../inc/img/layout/ticket-yellow.png) no-repeat center center;
  background-size: 100%;
  width: 100%;
  height: 120px;
  padding: 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ticket.ticket-bg {
  position: relative;
  z-index: 100;
  background-image: url(../../inc/img/layout/ticket-bg.png) !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ticket.ticket-bg .ticket-money {
  position: relative;
  margin-top: 30px;
  width: 160px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ticket.ticket-bg .ticket-money::before {
  display: inline-block;
  font-family: "icomoon" !important;
  content: "\ea1c";
  position: absolute;
  color: #53D49F;
  left: 0;
  top: 0;
  text-align: right;
  width: 150px;
  font-size: 120px;
  line-height: 105px;
  vertical-align: top;
  z-index: -1;
}
.ticket.no-bg {
  background: none !important;
  height: auto;
}
.ticket .ticket-lt {
  width: 70%;
  padding: 15px 25px;
}
.ticket .ticket-lt .icon-gift::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: url(../../inc/img/icon/ticket-icon01.svg) no-repeat center center;
}
.ticket .ticket-lt i::before {
  font-size: 23px;
}
.ticket .ticket-tit {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.ticket .txt {
  margin-bottom: 20px;
  font-size: 14px;
}
.ticket .txt-time {
  color: #919191;
  font-size: 12px;
}
.ticket .txt-time::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 20px;
  background: url(../../inc/img/icon/icon-time.svg) no-repeat center center;
}
.ticket .ticket-money {
  padding: 35px 10px;
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  vertical-align: middle;
}
.ticket .ticket-money small {
  font-size: 10px;
}
.ticket .ticket-money strong {
  font-size: 32px;
  font-weight: bold;
}
.ticket.yellow .icon-party::before,
.ticket.yellow .icon-cake::before {
  color: #FBC12D;
}
.ticket.yellow.ticket-bg .ticket-money::before {
  color: #FBC12D;
}
.ticket.blue {
  background-image: url(../../inc/img/layout/ticket-blue.png);
}
.ticket.blue .icon-party::before,
.ticket.blue .icon-cake::before {
  color: #7EBFFB;
}
.ticket.blue.ticket-bg .ticket-money::before {
  color: #7EBFFB;
}
.ticket.green {
  background-image: url(../../inc/img/layout/ticket-green.png);
}
.ticket.green .icon-party::before,
.ticket.green .icon-cake::before {
  color: #53D49F;
}
.ticket.green.ticket-bg .ticket-money::before {
  color: #53D49F;
}
.ticket.gray, .ticket.used {
  background-image: url(../../inc/img/layout/ticket-gray.png);
}
.ticket.gray .icon-party::before,
.ticket.gray .icon-cake::before, .ticket.used .icon-party::before,
.ticket.used .icon-cake::before {
  color: #C5C5C5;
}
.ticket.used {
  background-image: url(../../inc/img/layout/ticket-used.png);
}

.ticket-info {
  padding: 20px;
}
.ticket-info .ticket-tit {
  font-size: 20px;
  margin-bottom: 15px;
}
.ticket-info .tit {
  font-weight: bold;
  color: #1F1F1F;
}
.ticket-info .txt {
  font-size: 14px;
  color: #1F1F1F;
  margin-bottom: 15px;
}
.ticket-info .list-dot {
  list-style: disc;
}

.card-header {
  padding: 0;
  border-radius: 0;
}
.card-header.logo {
  background: none;
  border: none;
  text-align: center;
  color: #004F9C;
  padding: 40px 0;
}
.card-header.logo img {
  width: 280px;
  margin: 5px;
}
.card-header.logo h1 {
  font-size: 26px;
}

.card {
  border: none;
  width: 100%;
}
.card.fixed-bottom {
  -webkit-box-shadow: 0 0px 10px rgba(51, 51, 51, 0.3098039216);
          box-shadow: 0 0px 10px rgba(51, 51, 51, 0.3098039216);
}
.card.fixed-bottom .card-footer {
  padding: 4%;
}
.card .card-tit-h1,
.card .card-tit-h2 {
  font-size: 135%;
  font-weight: bold;
  color: #004F9C;
  margin: 10px 0;
}
.card .card-tit-h1.color-bk,
.card .card-tit-h2.color-bk {
  color: #1F1F1F;
}
.card .card-tit-h1 .txt-status,
.card .card-tit-h2 .txt-status {
  display: block;
  font-weight: normal;
  font-size: 13px;
}
.card .card-tit-h2 {
  font-size: 125%;
  color: #1F1F1F;
}
.card .txt-info {
  margin: 0 0 10px 0;
}
.card .card-body {
  padding: 0 4%;
}
.card .card-body .form {
  min-height: 250px;
}
.card .card-footer {
  padding: 6% 4% 4% 4%;
  background: none;
  border: none;
}
.card .card-footer .btn {
  width: 100%;
  line-height: 50px;
  padding: 0;
  border-radius: 5px;
  font-size: 125%;
  font-weight: 400;
  color: #004F9C;
  border: 1px solid #004F9C;
}
.card .card-footer .btn.btn-primary {
  color: #fff;
  background: #004F9C;
}
.card .card-footer .btn.disabled {
  opacity: 0.3;
}
.card.size-s {
  padding: 4%;
  border-radius: 10px;
  margin-bottom: 4%;
}
.card.size-s .card-tit {
  position: relative;
  font-size: 110%;
  color: #1F1F1F;
  font-weight: bold;
}
.card.size-s .card-tit::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -4%;
  height: 25px;
  width: 4px;
  background: #1671FE;
}
.card.size-s .card-tit .txt-status {
  float: right;
  font-weight: normal;
  font-size: 80%;
}
.card.size-s .txt {
  font-size: 13px;
  padding: 3% 0 0 0;
}
.card .card.card-product {
  position: relative;
  padding: 4%;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  margin-bottom: 5%;
}
.card .card.card-product .product-num {
  position: absolute;
  right: 4%;
  top: 2%;
}
.card .card.card-product .card-tit::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  height: 25px;
  width: 4px;
  background: #1F1F1F;
}
.card .card.card-product .div-tb .td {
  vertical-align: top;
}
.card .card.card-product .div-tb .td .txt-product-name {
  padding-top: 15px;
}
.card .card.card-product .div-tb .td .txt-small {
  color: #8b8b8b;
  line-height: normal;
  display: block;
}
.card .card.card-product .div-tb .td img {
  background: #D9D9D9;
  height: 80px;
  width: 90px;
  border-radius: 5px;
}
.card .card.card-product .div-tb .td .store-map {
  text-align: center;
  background: #DEEBFF;
  border-radius: 5px;
}
.card .card.card-product .div-tb .td .store-map img {
  margin: 0 auto;
  width: 60px;
  background: none;
}

.form {
  padding: 2% 0 0 0;
  margin-bottom: 10px;
}
.form.gray-border {
  padding: 4%;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
}
.form .form-group label {
  color: #1F1F1F;
  margin-bottom: 3px;
}
.form .form-group input[type=date],
.form .form-group .form-control,
.form .form-group .custom-select {
  padding: 0 10px;
  border-radius: 0;
  line-height: 52px;
  background: #F0F0F0;
  border: none;
  height: auto;
  border-bottom: 1px solid #8B8B8B;
  margin-bottom: 3px;
}
.form .form-group .custom-select {
  background: #F0F0F0 url(../img/icon/sel-arrow-down.png) no-repeat right center;
  background-size: 40px;
}
.form .form-group input[type=date],
.form .form-group .form-control.date {
  background: #F0F0F0 url(../img/icon/calendar.svg) no-repeat right center !important;
  background-size: 40px !important;
}
.form .form-group ::-webkit-calendar-picker-indicator {
  display: none;
}
.form .form-group .txt-error {
  color: #FF505F;
  font-size: 14px;
}
.form .form-group .form-txt {
  padding: 5px 0;
  font-weight: bold;
}
.form .form-group .form-btn {
  display: inline-block;
  width: 75px;
  vertical-align: bottom;
  background: #1671FE;
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin: 0;
}
.form .form-group .form-btn .icon-qrcode {
  margin-top: 9px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../img/icon/qr-code.svg) no-repeat center center;
  background-size: 35px;
}

.info-txt {
  padding: 20px 0;
  font-size: 80%;
  color: #1F1F1F;
  line-height: 20px;
}

* {
  font-family: Roboto, Noto Sans TC, arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  padding: 0;
  margin: 0;
  background-color: #fbfbfb;
}
.page a:hover {
  text-decoration: none;
  color: inherit;
}
.page ul {
  list-style: none;
}