::placeholder 
    color: #8B8B8B
// -----------------------------
.div-tb
    display: table
    width: 100%
    .td
        display: table-cell
        padding: 5px
        &:first-child
            padding-left: 0
        &:last-child
            padding-right: 0

.w-50per
    width: 50% !important
.w-100per
    width: 100% !important
    
img
    width: 100%


// ===================
.txt
    color: #8B8B8B