.page
    background: #E6E6E6
    font-size: 16px
    .page-content
        position: relative
        background: #fff
        padding: 0
        max-width: 800px
        margin: 0 auto
        min-height: 100vh
        &.list-page,
        &.confirm-page
            background: #E6E6E6
            padding: 70px 4% 0 4%
        &.confirm-page
            background: #fff
        // --------------
        .page-header
            z-index: 300
            position: fixed
            top: 0
            left: 0
            width: 100%
            height: 50px
            background: #fff
            box-shadow: 0 3px 10px #3333334f
            text-align: center
            .logo
                max-width: 190px
                margin: 10px
            .page-header-tit
                position: relative
                display: inline-block
                color: #004ea0
                padding: 5px 0 0 20px
                line-height: 36px
                font-size: 110%
                &::before
                    position: absolute
                    content: ''
                    left: 3px
                    top: 5px
                    height: 90%
                    width: 1px
                    background: #004ea0
// =================
.verification-box
    padding: 20px 10px
    .txt
        display: block
        width: 100%
        color: #1F1F1F
        margin: 10px 0
        text-align: center
    .input-box
        background: #F0F0F0
        padding: 10px 20px
        margin: 20px
        text-align: center
        input
            text-align: center
            background: none
            border: none
            font-size: 30px
            width: 100%
// =================
.modal-header
    position: relative
    border: none
    .close
        position: absolute
        right: 0
        top: 0        
        span
            font-size: 120%
            font-weight: normal
            width: 40px
            height: 40px
            line-height: 40px
            display: inline-block
    .modal-title
        width: 100%
        &.ct
            text-align: center
.modal-body
    max-height: 70vh
    overflow-y: auto 
    p
        line-height: normal
        margin-bottom: 20px
        font-size: 90%
    .tit
        font-weight: bold
        display: block