.btn-gotop
	bottom: 5rem
	right: 38.5px
	z-index: 4
	margin: 15.5px 0 0
	display: block
	transform: translateY(0) rotate(90deg)
	font-size: var(--font-size-heading-3)
	letter-spacing: 1px
	color: var(--dark-green)
	position: fixed
	transition: .3s
	font-size: 25px
	&::before
		content: ""
		height: 1px
		width: 40px
		position: absolute
		top: 18px
		left: -50px
		background-color: var(--dark-green)
.page
	.page-body
		// padding-top: 75px
		// ================
		.list-box
			color: var(--dark-gray)
			.tit
			.list-num
				list-style: decimal
				li
					&::before
						display: none
					line-height: normal
					font-size: 15px
					line-height: 26px
					.txt-link
						color: var(--light-green)
						text-decoration: underline
						display: inline-block
		// ================
		.section-tit
			font-size: 30px
			font-weight: bold
			color: var(--dark-green)
			margin-bottom: 10px
			width: 100%
			&.ct
				text-align: center
			br
				display: none
		.txt
			line-height: normal
			font-size: 15px
			color: var(--dark-gray)
			line-height: 26px
			&.ct
				text-align: center
		.section-con
			max-width: 1200px
			margin: auto
		.btn-box
			padding: 70px 0
			width: 100%
			text-align: center
			.btn
				color: #fff
				background-color: var(--light-green)
				border: 2px solid var(--light-green)
				border-radius: 100px
				font-size: 90%
				line-height: 40px
				padding: 2px 10px
				min-width: 200px
				margin-right: 40px
				&.btn-style-2
					background-color: var(--dark-green)
					border: 2px solid var(--dark-green)
					&:hover
						color: var(--dark-green)
				&:hover
					background-color: #fff
					color: var(--light-green)
		// ==========================
		.section-box
			min-height: 80vh
			// min-height: calc( 100vh - 75px )
			padding: 20px 0
			// -------------------------
			// section-01
			&.section-01
				background: url(../../inc/img/layout/section/section-01-bg.svg) no-repeat 50px center
				background-size: 150%
				padding-top: 15vh
				.section-tit
					br
						display: inline-block !important
				.section-con
					padding-left: 5vw
					.txt
						max-width: 380px
				.img-logo
					display: inline-block
					width: 200px
					height: 100px
					background: url(../../inc/img/layout/logo.svg) no-repeat center left
					background-size: 100%
			// -------------------------
			// section-02
			&.section-02
				background: var(--status-field-b)
				padding: 15vh 0 15vh 0
				.section-tit.ct
					padding: 0 0 50px 0
				.section-con
					display: flex
					justify-content: center
					gap: 0 5vw
					padding: 20px 0 0 0
					li
						width: 20%
						padding-top: 180px
						text-align: center
						.tit
							font-size: 20px
							margin-bottom: 20px
							color: var(--dark-green)
							font-weight: bold
						&.part-1
							background: url(../../inc/img/layout/section/section-02-01.png) no-repeat center top
							background-size: 130px
						&.part-2
							background: url(../../inc/img/layout/section/section-02-02.png) no-repeat center top
							background-size: 130px
						&.part-3
							background: url(../../inc/img/layout/section/section-02-03.png) no-repeat center top
							background-size: 130px
			// -------------------------
			// section-03
			&.section-03
				padding: 10vh 0 10vh 0
				min-height: auto
				.section-con
					padding-top: 20px
					.section-img
						margin: 0 auto 20px auto
						width: 100%
						max-width: 1000px
						height: 500px
						background: url(../../inc/img/layout/section/section-03.png) no-repeat center center
						background-size: 100%
					.txt
						margin: 0 auto
						max-width: 1024px
			// -------------------------
			// section-04
			&.section-04
				background: var(--status-field-b)
				padding: 15vh 0 10vh 0
				.section-tit.ct
					padding: 0 0 50px 0
				.section-con
					position: relative
					height: 100%
					&::before
						position: absolute
						right: 10%
						top: 20%
						content: ''
						display: inline-block
						width: 500px
						height: 800px
						background: url(../../inc/img/logo/logo-only.png) no-repeat center top
						background-size: 100%
						opacity: .2
						z-index: 0
					ul
						position: relative
						z-index: 10
						max-width: 1200px
						margin: 0 auto
						display: grid
						grid-template-columns: 50% 50%
						li
							padding-left: 130px
							margin-bottom: 30px
							min-height: 120px
							display: flex
							flex-direction: column
							align-items: left
							.tit
								padding-top: 25px
								font-size: 20px
								color: var(--dark-green)
								font-weight: bold
								a
									text-decoration: underline
									color: var(--dark-green)
							&.part-1
								background: url(../../inc/img/layout/section/section-04-01.png) no-repeat center left
								background-size: 120px
							&.part-2
								background: url(../../inc/img/layout/section/section-04-02.png) no-repeat center left
								background-size: 120px
							&.part-3
								background: url(../../inc/img/layout/section/section-04-03.png) no-repeat center left
								background-size: 120px
							&.part-4
								background: url(../../inc/img/layout/section/section-04-04.png) no-repeat center left
								background-size: 120px
							&.part-5
								background: url(../../inc/img/layout/section/section-04-05.png) no-repeat center left
								background-size: 120px
			// -------------------------
			// section-05
			&.section-05
				padding: 6vh 0 3vh 0
				min-height: auto
				.section-con
					padding-top: 30px
					.btn-box
						margin-bottom: 0
					ul.section-ul
						display: flex
						li
							width: 20%
							position: relative
							z-index: 10
							text-align: center
							&::before
								z-index: -1
								position: absolute
								top: 0
								left: 50%
								transform: translateX(-50%)
								content: ''
								width: 230px
								height: 80px
								background: var(--light-green)
								clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%)
							.tit
								margin: 0 auto 30px auto
								width: 60%
								height: 80px
								line-height: 70px
								color: #fff
								font-weight: bold
								small
									top: 50px
									line-height: normal
									position: absolute
									left: 50%
									transform: translateX(-50%)
									display: block
									font-size: 80%
							.txt
								span
									display: block
									line-height: 40px
								.txt-info
									display: block
									color: var(--light-green)
							// ===============
							&.part-1
								&::before
									background-color: #b2e7e3
								.tit
									background: url(../../inc/img/logo/Default.svg) no-repeat center center
									background-size: 100%
							// ===============
							&.part-4
								&::before
									background-color: var(--soft-green)
							// ===============
							&.part-5
								.txt
									color: var(--light-green)
									span
										line-height: 26px
					.txt
						margin: 0 auto
						max-width: 1024px
			// -------------------------
			// section-06
			&.section-06
				padding: 4vh 0 0vh 0
				background: var(--status-field-b)
				.section-con
					padding: 0
					text-align: center
					li
						position: relative
						background: url(../../inc/img/layout/section/section-06.png) no-repeat center center
						background-size: 100%
						min-height: 160px
						width: 900px
						margin: 0 auto
						.txt-step
							position: absolute
							left: 45px
							top: 40px
							font-weight: bold
							color: #fff
							font-size: 20px
						.tit
							padding: 35px 0 10px 180px
							text-align: left
							font-weight: bold
							font-size: 20px
							i
								margin-right: 5px
						.txt
							padding: 0 0 10px 180px
							text-align: left
			// -------------------------
			// section-07
			&.section-07
				padding: 10vh 0 3vh 0
				min-height: auto
				position: relative
				overflow: hidden
				z-index: 10
				&::before
					position: absolute
					left: -10%
					top: -30%
					content: ''
					display: inline-block
					width: 700px
					height: 800px
					background: url(../../inc/img/layout/bg-01.svg) no-repeat center top
					background-size: 100%
					z-index: -1
					
				.section-tit
					margin-bottom: 50px
				.section-con
					.txt
						max-width: 1000px
						text-align: center
						margin: 0 auto 20px auto
					.section-img
						margin: 0 auto 0 auto
						width: 100%
						max-width: 1000px
						height: 300px
						background: url(../../inc/img/layout/section/section-07.png) no-repeat center center
						background-size: 80%
					.btn-box
						padding: 40px 0
	.page-footer
		text-align: center
		padding: 25px 0 25px 0
		color: #686868
		.txt
			margin-bottom: 20px
		a
			text-decoration: underline
			color: var(--light-green)
		img
			width: 120px
