@import 'layout/var'
@import 'layout/header'
*
    font-family: Roboto,Noto Sans TC,arial,sans-serif
    box-sizing: border-box
.page
    background-color: #fbfbfb


// ===================
.page-foote
    display: none
